beautifulsoup4==4.10.0
Flask==2.0.1
numpy==1.24.3
pandas==2.2.0
Requests==2.31.0
scikit_learn==1.2.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==0.15.5
scipy>=0.15.1
nltk==3.5
jsonschema==3.2.0
tmdbv3api==1.6.1
lxml==4.6.3
urllib3==1.26.5
pickleshare==0.7.5